.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    position: relative;
    border: none;
}

.inputGroup input {
    font-size: 100%;
    width: 390px;
    height: 52px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 14px;
    padding-bottom: 14px;
    outline: none;
    background-color: transparent;
    border-radius: 20px;
    /*width: 100%;*/
}

.inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 29px;
    padding-bottom: 8px;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #e8e8e8;
}

.inputGroup :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
}