/* DEFAULT INPUT TEXT*/
.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0;
    position: relative;
}

.inputGroup input {
    font-size: 100%;
    width: 390px;
    height: 52px;
    padding: 14px 15px;
    outline: none;
    border-radius: 25px;
    border: none; /* No border by default */
}

.inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 29px 15px 8px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(2%) scale(.9);
    padding: 0.4em;
    background: none;
}

.inputGroup :is(input:focus, input:valid) {
    border: none;
}
/* DEFAULT INPUT TEXT*/


/* OUTLINE INPUT TEXT*/
.inputGroup.outLine input {
    border: 2px solid var(--accent);
}

.inputGroup.outLine :is(input:focus, input:valid) {
    border: 2px solid var(--accent);
}
/* OUTLINE INPUT TEXT*/


/* DISABLED INPUT TEXT*/
.inputGroup.disabled input {
    background: var(--neutral-70);
    cursor: not-allowed;
}

.inputGroup.disabled input:disabled {
    pointer-events: none; /* Disable all interactions */
}

.inputGroup.disabled :is(input:focus, input:valid)~label {
    transform: scale(100%);
    padding: 16px;
    background: none;
}
/* DISABLED INPUT TEXT*/


/* ERROR INPUT TEXT*/
.inputGroup.error input {
    border: 2px solid var(--error-60);
}

.inputGroup.error :is(input:focus, input:valid) {
    border: 2px solid var(--error-60);
}
/* ERROR INPUT TEXT*/

/* WARNING INPUT TEXT*/
.inputGroup.warning input {
    border: 2px solid var(--warning-60);
}

.inputGroup.warning :is(input:focus, input:valid) {
    border: 2px solid var(--warning-60);
}
/* WARNING INPUT TEXT*/

/* GREY INPUT TEXT*/
.inputGroup.grey input {
    border: none;
    background-color: var(--neutral-40);
}

.inputGroup.grey :is(input:focus, input:valid) {
    border: none;
    background-color: var(--neutral-40);
}
/* GREY INPUT TEXT*/


/* GREYOUTLINE INPUT TEXT*/
.inputGroup.greyoutline input {
    border: 2px solid var(--accent);
    background-color: var(--neutral-60);
}

.inputGroup.greyoutline :is(input:focus, input:valid) {
    border: 2px solid var(--accent);
    background-color: var(--neutral-60);
}
/* GREYOUTLINE INPUT TEXT*/