.container {
    height: 20px;
    width: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--accent);
    border-radius: 6px;
}

.container app-icon {
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
}