<div class="request-approval-container">
    <mat-toolbar color="primary">
        <button mat-icon-button aria-label="Повернутися назад" (click)="returnBackPage()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span class="spacer"></span>
        <button mat-icon-button aria-label="Акаунт" style="margin-right: 12px" color="primary">
            <mat-icon>close</mat-icon>
        </button>
        <button mat-flat-button>
            Схвалити запит
            <mat-icon>arrow_back</mat-icon>
        </button>
    </mat-toolbar>
</div>
