<div class="pupils-all-container">
  <div class="pupils-all-box">
    <h2 class="title">Учні</h2>
    <mat-divider class="title-divider" style="width: 100%;"></mat-divider>
    <div class="pupils-all-action-box">
      <mat-checkbox></mat-checkbox>
      <button mat-stroked-button disabled>
        Дії
        <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
      </button>
      <span class="spacer"></span>
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Знайти по прізвищу</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input type="text" matInput>
        <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
      <button mat-icon-button>
        <mat-icon>person_add</mat-icon>
      </button>
    </div>
  </div>
</div>
