<style>
  div{
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
</style>

<div>
  <app-side-navigation [type]=CssSN.On [size]=CssSN.Normal buttonText="Component"></app-side-navigation>
  <app-side-navigation [type]=CssSN.Of [size]=CssSN.Normal buttonText="Component"></app-side-navigation>
  <app-side-navigation [type]=CssSN.On [size]=CssSN.Small buttonText=""></app-side-navigation>
  <app-side-navigation [type]=CssSN.Of [size]=CssSN.Small buttonText=""></app-side-navigation>
</div>
