<style>
  div{
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
</style>

<div>
  <app-side-navigation [type]=CssSN.On [size]=CssSN.Normal buttonText="Component" img_icon="assets/svg/ArrowLeft2.svg" img_icon2="assets/svg/ArrowDown2.svg"></app-side-navigation>
  <app-side-navigation [type]=CssSN.Of [size]=CssSN.Normal buttonText="Component" img_icon="assets/svg/ArrowLeft2.svg" img_icon2="assets/svg/ArrowDown2.svg" ></app-side-navigation>
  <app-side-navigation [type]=CssSN.On [size]=CssSN.Small buttonText="" img_icon="assets/svg/ArrowLeft2.svg"></app-side-navigation>
  <app-side-navigation [type]=CssSN.Of [size]=CssSN.Small buttonText="" img_icon="assets/svg/ArrowDown2.svg"></app-side-navigation>
</div>
