.DefaultCheckbox {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #999999;
    appearance: none;
    cursor: pointer;
}
.DefaultCheckbox:checked:before{
    background-color: transparent;
    border-color: #5356FF;
    content: 'Z';
    display: flex;
    justify-content: center;
}
.DefaultCheckbox:checked:hover{
    border-color: #6669FF;
    background-color: #6669FF;
    animation-duration: 130ms;
}
.DefaultCheckbox:checked {
    position: absolute;
    background-color: #5356FF;
    border-color: #5356FF;
}
.DefaultCheckbox:hover {
    border-color: #808080;
    animation-duration: 130ms;
}
.DefaultCheckbox:checked:hover {
    border-color: #6669FF;
    background-color: #6669FF;
    animation-duration: 130ms;
}

.NotFullCheckBox {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #999999;
    appearance: none;
    cursor: pointer;
}
.NotFullCheckBox:checked:before{
    background-color: transparent;
    border-color: #5356FF;
    content: '--';
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5356FF;
}
.NotFullCheckBox:checked:hover{
    border-color: #6669FF;
    color: #6669FF;
    animation-duration: 130ms;
}
.NotFullCheckBox:checked {
    position: absolute;
    border-color: #5356FF;
}
.NotFullCheckBox:hover {
    border-color: #808080;
    animation-duration: 130ms;
}
.NotFullCheckBox:checked:hover {
    border-color: #6669FF;
    animation-duration: 130ms;
}