.onBat{
  background-color: var(--accent-95);
  border: none ;

}
.ofBat{
  background-color: var(--accent-100);
  border: none;
}
.norm app-icon#firstImg{
  margin-right: 16px;
  margin-left: 12px;
  fill: var(--accent-20);
}
.norm app-icon#secondImg{
  margin-left: 16px;
  margin-right: 12px;
  fill: var(--accent-20);

 }
.norm span{
  min-width: 100px;
  margin: auto;
  color: var(--accent-20);
}
.norm{
  width: 200px;
  height: 48px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.small{
  width: 48px;
  height: 48px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small app-icon#firstImg{
  margin: 0 auto;
  fill: var(--accent-20);
}

.small app-icon#secondImg{
  display: none;
  opacity: 0;

}
