/* You can add global styles to this file, and also import other style files */
:root {
    --accent: #5356FF;
    --accent-0: #000000;
    --accent-10: #000133;
    --accent-20: #000266;
    --accent-30: #000399;
    --accent-40: #0004CC;
    --accent-50: #0004FF;
    --accent-60: #3337FF;
    --accent-70: #6669FF;
    --accent-80: #999BFF;
    --accent-90: #CCCDFF;
    --accent-95: #E5E6FF;
    --accent-99: #FAFAFF;
    --accent-100: #FFFFFF;
}
